html {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 10pt;
    min-height: 100%;
    background: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 50%);
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.2em;
    font-weight: 300;

}

canvas {
    border: 1px solid #555;
}

canvas + p {
    text-align: left;
    margin-bottom: 100px;
}

select {
    background: #aaa;
    margin-right: 10px;
}

input {
    vertical-align: -3px;
}

output {
    margin-right: 10px;
    border: 1px solid #444;
    padding: 5px;
    min-width: 25px;
    display: inline-block;
    text-align: center;
}

#clock {

    border: 1px solid #444;
    padding: 5px;
    min-width: 45px;
    display: inline-block;
    text-align: center;
}

